/*  your css code here. If applicable */
body {
  background-color: rgb(204, 204, 204);
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1, h2 {
  text-align: center;
}

.playlist {
  background-color: white;
  width: 90%;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 6px;
  padding: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
	text-align: left;
	margin: 6px 0;
}

a {
  text-decoration-line: none;
  color: black;
}

.player_one, .player_two {
  background-color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 8px;
  width: 80%;
  margin: 20px auto;
  border: 2px solid black;
}

video {
  width: 100%;
  border-radius: 6px;
}

audio {
  width: 100%;
}
